.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user{
  border-style:dashed;
  border-radius: 1cm;
  border-color: black;
  height:fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
}
.bottom{
  border-style:dashed;
  border-radius: 1cm;
  border-color: black;
  width: 70%;
  display: table-cell;
}
.search{
  display: inline-block;
  width: 45%;
  border-radius: 1cm;
  border-color:rgb(83, 52, 52);
  border-style:dashed;
  height: 400px;

}
.graph{
  display: inline-block;
  width: 45%;
  border-radius: 1cm;
  border-color:rgb(83, 52, 52);
  border-style:dashed;
  height: 400px;
}

